.main {

    .carousel-inner img{
        width: 550px;
       margin:auto
       
    }  

    .numeroCentro {
        margin: auto;
        display: flex;
        justify-content: center;
        margin: 0%;
    }


}