.body {
    .colorfondo {
        color: $color-pricipal;
    }
}

.headerGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem;
    background-image: url(./imagenes/paredladrillos3.jpg);
    justify-items: center;
    align-items: center;
    width: 100%;
}

.header {
    .headerencabezado{
        display: grid;
        background: url(./imagenes/paredladrillos3.jpg);
        background-color: rgba(17, 10, 155, 0.966);
        width: 100%;
             .logo-nav {
                        margin-right: 200px;
                        }
    
    }

    .menu-flex {
        @include flexbox (center, row);
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 15px;

    }
}

.main {

        .img-paredGrid {
            background-image: url(./imagenes/imagenPared2.jpg);
            justify-items: center;
            width: 100%;
            background-attachment: fixed;
        }

        .imagenFlex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .galeriaFlex {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                            }
        }
        .imagenGaleriasize {
            border-radius: 10px;
            justify-items: center;
            width: 400px;
            height: 300px;
            display: inline-block;
            margin: 2px

                    }

            .sizeconst {
                margin: 130px;
                display: inline-block;
                flex-direction: row;
                width: 150px;
                height: 120px;

            }

            .p { 
                text-decoration-style: double;
                color: rgb(249, 249, 249);
                font-size: map-get($tamanio-texto, parrafos);
                text-align: justify;
                padding: 10px;
            }

            .footer {

                .contactoFlex {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }

                .contacto {
                        width: 50px;
                }

                .mapaGoogle {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                }

                .bordemapa {
                    position: relative;
                    margin: 0%;
                    padding: 0%;
                }

                .redes {
                    display: flex;
                    flex-direction: row;
                    margin:40px;
                    justify-content: center;
                }

                .redesFlex{
                    margin: 10px;
                    margin-bottom: 100px;

                }
                

            }




}