
.main{  
    .animacionP{
        background-image: linear-gradient(rgb(11, 11, 183),rgb(127, 127, 249));
        transition: all 1s;
    }
    .numeroCentro {
        margin: auto;
    display: flex;
    justify-content: center;
    margin: 0%;
    }
    

}